body {
  background-color: #c6c6c6;
}

.bloco {
  background-color: #d9d9d9;
  height: 50px;
  border-radius: 5px;
}

.blocoForms {
  background-color: #d9d9d9;
  border-radius: 10px;
  width: 40%;
  margin: 3%;
  padding: 2%;
  float: left;
}

a {
  text-decoration: none;
  color: black;
}

.formatacao {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.texto {
  margin: 10px;
  padding: 10px;
}

.Esqueci {
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  margin-left: 20px;
  margin-top: 5px;
}

.Esqueci:hover {
  text-decoration: underline;
}

button {
  margin: 7%;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: #fbfbfb;
  background-color: #fbfbfb;
}

#GoogleLogo,
#FacebookLogo,
#AppleLogo {
  width: 35px;
}

.Entrar {
  text-align: center;
}

#buttonsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

#inputsContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: #fbfbfb;
  background-color: #fbfbfb;
  /* height: 30px; */
}

label,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

#submitContainer {
  display: flex;
  justify-content: space-between;
}

#Enviar,
#Reset {
  padding-left: 50px;
  padding-right: 50px;
}

#Email,
#Senha {
  height: 40px;
  padding-left: 15px;
}
